---
import type {HMBlockNode} from "@shm/shared";
const {document} = Astro.props;
---

<!-- Component Template (HTML + JS Expressions) -->
<article
  class="mx-auto prose mt-8 w-full max-w-3xl pb-24 md:prose-lg lg:prose-xl sm:pb-32 md:mt-16 md:px-8 lg:mt-16"
>
  {
    document.content.map((block: HMBlockNode) => {
      if (!block.block) return null;

      if (block.block.type == "paragraph") {
        return <p>{block.block.text}</p>;
      } else if (block.block.type == "heading") {
        if (block.block.attributes?.level == "3") {
          return <h3>{block.block.text}</h3>;
        } else if (block.block.attributes?.level == "4") {
          return <h4>{block.block.text}</h4>;
        } else {
          return <h2>{block.block.text}</h2>;
        }
      } else if (block.block.type == "image") {
        return <img src={block.block.ref} />;
      }
    })
  }
</article>
