---
import {formattedDateMedium} from "@shm/shared";
import {DocContent} from "./doc-content";
const {document, isIndex = false} = Astro.props;

const name = document.metadata.name;
const updateTime = document.updateTime;
---

<!-- Component Template (HTML + JS Expressions) -->
<article
  class="mx-auto w-full max-w-3xl pb-24 mt-8 sm:pb-32 md:mt-16 md:px-8 lg:mt-16 px-4 prose md:prose-lg lg:prose-xl"
>
  {!isIndex ? <h1>{name}</h1> : null}
  {
    !isIndex ? (
      <small class="text-slate-400">
        published {formattedDateMedium(updateTime)}
      </small>
    ) : null
  }
  <DocContent content={document.content} />
</article>
