---
import {hmId} from "@shm/shared";
import DocumentContent from "../components/DocumentContent.astro";
import {getDocument} from "../get-document";
// @ts-expect-error
const homeId = hmId("d", Astro.locals.accountUid);
const homeDocument = await getDocument(Astro.locals.accountUid);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{homeDocument.metadata?.name}</title>
  </head>
  <body>
    <DocumentContent document={homeDocument} />
  </body>
</html>
